<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.fontfont.colorfont.auto_layer_include_baseglyph</key>
	<false/>
	<key>com.fontfont.colorfont.auto_layer_regex</key>
	<string>\.alt[0-9]{3}$</string>
	<key>com.fontfont.colorfont.bitmap_sizes</key>
	<array>
		<integer>20</integer>
		<integer>32</integer>
		<integer>40</integer>
		<integer>72</integer>
		<integer>96</integer>
		<integer>128</integer>
		<integer>256</integer>
		<integer>512</integer>
		<integer>1024</integer>
	</array>
	<key>com.fontfont.colorfont.color</key>
	<string>#000000</string>
	<key>com.fontfont.colorfont.colorbg</key>
	<string>#ffffff</string>
	<key>com.fontfont.colorfont.colorpalette</key>
	<array>
		<dict>
			<key>0</key>
			<string>#fec300ff</string>
			<key>1</key>
			<string>#f1200fff</string>
			<key>2</key>
			<string>#b86600ff</string>
			<key>3</key>
			<string>#9c001aff</string>
			<key>4</key>
			<string>#f47e5eff</string>
			<key>5</key>
			<string>#ffffffff</string>
			<key>6</key>
			<string>#000000ff</string>
		</dict>
	</array>
	<key>com.fontfont.colorfont.prefer_placed_images</key>
	<integer>1</integer>
	<key>com.fontfont.colorfont.write_cbdt</key>
	<integer>0</integer>
	<key>com.fontfont.colorfont.write_colr</key>
	<integer>0</integer>
	<key>com.fontfont.colorfont.write_sbix</key>
	<integer>1</integer>
	<key>com.fontfont.colorfont.write_svg</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.4000000059604645</real>
		<real>0.800000011920929</real>
		<real>1.0</real>
		<real>1.0</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/smiwa/Desktop/Day 2 Demo/Making Faces Demo.ttf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.7019608020782471</real>
		<real>0.7019608020782471</real>
		<real>0.7019608020782471</real>
		<real>1.0</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>NUL</string>
				<string>space</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>u1F419</string>
				<string>u1F419.shadow</string>
				<string>u1F419.highlight</string>
				<string>u1F419.eyelight</string>
				<string>u1F419.eyes</string>
				<string>u1F355</string>
				<string>u1F355.layer3</string>
				<string>u1F355.layer2</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NUL</string>
		<string>space</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>u1F419</string>
		<string>u1F419.shadow</string>
		<string>u1F419.highlight</string>
		<string>u1F419.eyelight</string>
		<string>u1F419.eyes</string>
		<string>u1F355</string>
		<string>u1F355.layer3</string>
		<string>u1F355.layer2</string>
	</array>
</dict>
</plist>
