<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>N</string>
		<string>M</string>
		<string>Igrave</string>
		<string>I</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_Igrave</key>
	<array>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>D</string>
		<string>Eth</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>J</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
	</array>
	<key>@MMK_R_Igrave</key>
	<array>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>Oslash</string>
		<string>Q</string>
		<string>G</string>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_R_StraightL</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Thorn</string>
		<string>K</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>R</string>
		<string>Iacute</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
	</array>
	<key>Caps</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Z</string>
		<string>AE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
	</array>
	<key>Figures</key>
	<array>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.sc</string>
		<string>one.sc</string>
		<string>two.sc</string>
		<string>three.sc</string>
		<string>four.sc</string>
		<string>five.sc</string>
		<string>six.sc</string>
		<string>seven.sc</string>
		<string>eight.sc</string>
		<string>nine.sc</string>
	</array>
	<key>Lowercase</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>f</string>
		<string>f_f_t</string>
		<string>f_t</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>eth</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>dotlessi</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
	</array>
	<key>Small Caps</key>
	<array>
		<string>A.sc</string>
		<string>Agrave.sc</string>
		<string>Aacute.sc</string>
		<string>Acircumflex.sc</string>
		<string>Atilde.sc</string>
		<string>Adieresis.sc</string>
		<string>Aring.sc</string>
		<string>B.sc</string>
		<string>C.sc</string>
		<string>Ccedilla.sc</string>
		<string>D.sc</string>
		<string>E.sc</string>
		<string>Egrave.sc</string>
		<string>Eacute.sc</string>
		<string>Ecircumflex.sc</string>
		<string>Edieresis.sc</string>
		<string>F.sc</string>
		<string>G.sc</string>
		<string>H.sc</string>
		<string>I.sc</string>
		<string>Igrave.sc</string>
		<string>Iacute.sc</string>
		<string>Icircumflex.sc</string>
		<string>Idieresis.sc</string>
		<string>J.sc</string>
		<string>K.sc</string>
		<string>L.sc</string>
		<string>M.sc</string>
		<string>N.sc</string>
		<string>Ntilde.sc</string>
		<string>O.sc</string>
		<string>Ograve.sc</string>
		<string>Oacute.sc</string>
		<string>Ocircumflex.sc</string>
		<string>Otilde.sc</string>
		<string>Odieresis.sc</string>
		<string>P.sc</string>
		<string>Q.sc</string>
		<string>R.sc</string>
		<string>S.sc</string>
		<string>T.sc</string>
		<string>U.sc</string>
		<string>Ugrave.sc</string>
		<string>Uacute.sc</string>
		<string>Ucircumflex.sc</string>
		<string>Udieresis.sc</string>
		<string>V.sc</string>
		<string>W.sc</string>
		<string>X.sc</string>
		<string>Y.sc</string>
		<string>Yacute.sc</string>
		<string>Z.sc</string>
		<string>AE.sc</string>
		<string>Eth.sc</string>
		<string>Oslash.sc</string>
		<string>Thorn.sc</string>
		<string>germandbls.sc</string>
		<string>hyphen.sc</string>
		<string>parenleft.sc</string>
		<string>bracketleft.sc</string>
		<string>braceleft.sc</string>
		<string>parenright.sc</string>
		<string>bracketright.sc</string>
		<string>braceright.sc</string>
		<string>quoteleft.sc</string>
		<string>quoteright.sc</string>
		<string>exclam.sc</string>
		<string>quotedbl.sc</string>
		<string>ampersand.sc</string>
		<string>quotesingle.sc</string>
		<string>question.sc</string>
		<string>exclamdown.sc</string>
		<string>questiondown.sc</string>
	</array>
</dict>
</plist>
