<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.sc</key>
	<string>A_.sc.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>AE.sc</key>
	<string>AE_.sc.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Aacute.sc</key>
	<string>Aacute_.sc.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Acircumflex.sc</key>
	<string>Acircumflex_.sc.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Adieresis.sc</key>
	<string>Adieresis_.sc.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Agrave.sc</key>
	<string>Agrave_.sc.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Aring.sc</key>
	<string>Aring_.sc.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>Atilde.sc</key>
	<string>Atilde_.sc.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.sc</key>
	<string>B_.sc.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.sc</key>
	<string>C_.sc.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>Ccedilla.sc</key>
	<string>Ccedilla_.sc.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.sc</key>
	<string>D_.sc.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.sc</key>
	<string>E_.sc.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Eacute.sc</key>
	<string>Eacute_.sc.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Ecircumflex.sc</key>
	<string>Ecircumflex_.sc.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edieresis.sc</key>
	<string>Edieresis_.sc.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Egrave.sc</key>
	<string>Egrave_.sc.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Eth.sc</key>
	<string>Eth_.sc.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.sc</key>
	<string>F_.sc.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.sc</key>
	<string>G_.sc.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.sc</key>
	<string>H_.sc.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.sc</key>
	<string>I_.sc.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Iacute.sc</key>
	<string>Iacute_.sc.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Icircumflex.sc</key>
	<string>Icircumflex_.sc.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idieresis.sc</key>
	<string>Idieresis_.sc.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Igrave.sc</key>
	<string>Igrave_.sc.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.sc</key>
	<string>J_.sc.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.sc</key>
	<string>K_.sc.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.sc</key>
	<string>L_.sc.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.sc</key>
	<string>M_.sc.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.sc</key>
	<string>N_.sc.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>Ntilde.sc</key>
	<string>Ntilde_.sc.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.sc</key>
	<string>O_.sc.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Oacute.sc</key>
	<string>Oacute_.sc.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Ocircumflex.sc</key>
	<string>Ocircumflex_.sc.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Odieresis.sc</key>
	<string>Odieresis_.sc.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ograve.sc</key>
	<string>Ograve_.sc.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Oslash.sc</key>
	<string>Oslash_.sc.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>Otilde.sc</key>
	<string>Otilde_.sc.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.sc</key>
	<string>P_.sc.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.sc</key>
	<string>Q_.sc.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.sc</key>
	<string>R_.sc.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.sc</key>
	<string>S_.sc.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.sc</key>
	<string>T_.sc.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>Thorn.sc</key>
	<string>Thorn_.sc.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.sc</key>
	<string>U_.sc.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Uacute.sc</key>
	<string>Uacute_.sc.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Ucircumflex.sc</key>
	<string>Ucircumflex_.sc.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Udieresis.sc</key>
	<string>Udieresis_.sc.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Ugrave.sc</key>
	<string>Ugrave_.sc.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.sc</key>
	<string>V_.sc.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.sc</key>
	<string>W_.sc.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.sc</key>
	<string>X_.sc.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.sc</key>
	<string>Y_.sc.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Yacute.sc</key>
	<string>Yacute_.sc.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.sc</key>
	<string>Z_.sc.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.sc</key>
	<string>ampersand.sc.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.sc</key>
	<string>braceleft.sc.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.sc</key>
	<string>braceright.sc.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketleft.sc</key>
	<string>bracketleft.sc.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bracketright.sc</key>
	<string>bracketright.sc.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.sc</key>
	<string>eight.sc.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclam.sc</key>
	<string>exclam.sc.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>exclamdown.sc</key>
	<string>exclamdown.sc.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_f_l</key>
	<string>f_f_l.glif</string>
	<key>f_f_t</key>
	<string>f_f_t.glif</string>
	<key>f_t</key>
	<string>f_t.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.sc</key>
	<string>five.sc.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.sc</key>
	<string>four.sc.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.sc</key>
	<string>germandbls.sc.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.sc</key>
	<string>hyphen.sc.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.sc</key>
	<string>nine.sc.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.sc</key>
	<string>one.sc.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.sc</key>
	<string>parenleft.sc.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.sc</key>
	<string>parenright.sc.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>question.sc</key>
	<string>question.sc.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiondown.sc</key>
	<string>questiondown.sc.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedbl.sc</key>
	<string>quotedbl.sc.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteleft.sc</key>
	<string>quoteleft.sc.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quoteright.sc</key>
	<string>quoteright.sc.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>quotesingle.sc</key>
	<string>quotesingle.sc.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.sc</key>
	<string>seven.sc.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.sc</key>
	<string>six.sc.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.sc</key>
	<string>three.sc.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.sc</key>
	<string>two.sc.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.sc</key>
	<string>zero.sc.glif</string>
</dict>
</plist>
