@import "base";
@import "mixins";
@import "variables";
@import "generic";
@import "grid";
@import "sizing";
@import "type";
@import "helpers";

// custom styles


.fade {
  background: black;
  opacity: .5;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;

  @media screen and (max-width: 600px) {
    font-size: $five-line-nonpareil;
  }
}

.header {
  background: aquamarine;
  height: auto;
  position: fixed;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  top: 0;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav {
  display: block;
  text-align: center;
  li {
    display: inline-block;
    a {
      color: darkviolet;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 1rem;
      padding-bottom: .5rem;
      transition: all 300ms ease;

      &:hover {
        border-bottom: 5px solid darkviolet;
        transition: translateY(.5rem);
      }
      &:active {
        transition: translateY(.5rem);
      }

      @media screen and (max-width: 600px) {
        font-size: 90%;
        padding-left: 5%;
        padding-right: 5%;
      }
    }
  }
}

section {
  border-top: 5px solid whitesmoke;
  border-left: 5px solid whitesmoke;
  border-right: 5px solid whitesmoke;
  padding-top: 5rem;
  padding-bottom: 8rem;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.description {
  font-family: $font-secondary;
  font-size: $double-pica;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 4rem;

  @media screen and (max-width: 600px) {
    font-size: $great-primer;
  }
}

.timeline {
    background-color: salmon;

  .timeline-wrapper {
    clear: both;
    overflow: hidden;
    display: table;
    width: 100%;
    position: relative;
  }

  .border {
    border-top: 5px solid lightsalmon;
    padding-top: 2%;
  }

  .left {
    border-right: 5px solid lightsalmon;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 8rem;
    width: 50%;
    display: table-cell;
  }

  .right {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5rem;
    width: 50%;
    display: table-cell;
  }
}

.information {
  padding-top: 1.5rem;
  font-size: $great-primer;
  line-height: 1.4;
  @media screen and (max-width: 600px) {
    font-size: $english;
  }
}

.modal {
  position: fixed;
  top: 10%;
  bottom: 10%;
  width: 80%;
  left: 50%;
  margin-left: -40%;
  z-index: 4;
  overflow: scroll;
}

// Characters
.characters {
  background-color: gainsboro;
}

.big-text {
  font-size: $imperial;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  word-break: break-all;
  transition: all 300ms ease;

  @media screen and (max-width: 600px) {
    font-size: $sabon;
  }
}

.italic {
  font-family: $font-secondary;
}

// Samples
.samples {
  background-color: dodgerblue;
}

.sample-wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.thumbnail {
  margin-left: 1rem;
  margin-right: 1rem;
  transition: all 200ms ease;

  img {
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
  }

  &:hover {
    transform: scale(1.05);
    transition: all 200ms ease;
  }

  &:active {
    transform: scale(1.02);
    transition: all 200ms ease;
  }
}


// text writing sample
.application {
  background-color: goldenrod;
  display: flex;
}

.footer {
  background: violet;
  border-top: 5px solid whitesmoke;
  padding: 3rem;
  text-align: center;
}

.writing-space {
  height: 80%;
  font-family: $font-main;
  font-size: 1.8rem;
  line-height: 1.6;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  width: 100%;
  min-height: 60rem;
}